
body {
	margin: 0;
	padding: 0;	
}

.menu_li {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.541327);
	list-style: none;
	margin-left: -30px;
	letter-spacing: 0.5px;	
}

.popup_li {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.541327);
	list-style: none;
	margin-left: -30px;
	letter-spacing: 0.5px;
}

h2{
	font-weight: bolder;
	text-align: center;
	padding-bottom: 1vh;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	margin-bottom: 0.5em;
}



h3{
	font-family: 'Open Sans', sans-serif;
	position: relative;
	margin: 0.5em 0.5em 1rem 0.8em; 
	padding: 0px;
	padding-left: 0.5rem;
	display: block;
    font-size: 18px;
    margin-block-start: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding-bottom: 0.3em;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    line-height: 1.4em;
}


button {
	position: absolute;
}

.mapboxgl-ctrl-logo {
	display: none !important;
	background: black;
}

.mapboxgl-ctrl-bottom-right {
	bottom: 2.5em;
	right: 2.5em;
}

.mapboxgl-ctrl-bottom-left {
	bottom: -10px;
}

.mapboxgl-ctrl-geolocate {
	border: 2px solid rgba(0,0,0,0.85) !important;
	border-radius: 5px;
}

#mapSpace {
	position: relative;
	top: 0em;
	bottom: 0em;
	height: 100vh; /*Fallback for browsers that do not support Custom Properties */
  	height: calc(var(--vh, 1vh) * 100);
	width: 100vw;
}

.icon {
	background: blue;
	width: 20px;
	height: 20px;
}

#map { 
	position: absolute; 
	top: 0px; 
	bottom: 0px; 
	width: 100%; 
};

.mapboxgl-popup {
	position: absolute;
    max-width: 100em;
    font: 12px/20px sans-serif;
}

.rectangle {
	position: absolute;
	width: 100vw;
	height: 10vh;
	left: 0px;
	top: 0px;
	background: linear-gradient(180deg, #CBF6FF 20%, rgba(196, 196, 196, 0) 100%);
}

#logo {
	position: relative;
	width: 120px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	top: 3vh;

}

/*______________________POPUP__________________________*/   
.mapboxgl-popup-content {
  	font-family: 'Open Sans', sans-serif;
  	font-size: 14px;
  	padding: 1em 0.5em 0em 0.5em;
  	width: 16rem;
  	color: rgba(0,0,0,0.8);
}

.popUpWriting {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 20px;
	color: rgba(0, 0, 0, 0.541327);
	list-style: none;
	letter-spacing: 0.2px;
	padding-right: 1em;
}

#shareInfoID {
	background-color: transparent;
	color: rgba(0, 0, 0, 0.541327);
	text-decoration: underline;
	display: inline-block;
	font-size: 15px;
	border: none;
	position: relative;
	margin-top: 0.6em;
	cursor: pointer; /* Mouse pointer on hover */
	transition: all 150ms linear;
	text-align: center;
	margin: 1em;
}

.spacer {
    width: 80%;
    height: 1px;
    margin: 1em 0 1em 10%;
	background: rgba(0,0,0,0.2);
}

.mapboxgl-popup-close-button {
	font-size: 1.5em;
}

.popUpContainer {
	display: grid;
	grid-template-columns: 1fr 3fr; 
	grid-gap: 3px;
	grid-row-gap: 1em;
	align-items: center;
}

.popUpImg {
	height: 25px;
	justify-self: center;
}

.popUpImg2 {
	height: 25px;
	justify-self: center;
	margin: 0 4px 0 4px;
}

/*____________________________MODAL__________________________*/

.modal-xl {
	max-width: 90% !important;
	width: 90% !important;
	position: absolute;
    left: 3vw;
}

.modal-l {
	height: 90vh !important;
}

.modal-content {
	padding: 1em;
	font-family: 'Open Sans', sans-serif;
}

.modal-innerContent {
	font-family: 'Open Sans', sans-serif;
  	margin: 1em 2em 2em 2em;
  	font-size: 15px;
}

#formDiv {
	margin: 0;
}

.modalHeading {
	position: relative;
	font-family: 'Josefin Sans', sans-serif;
	margin-top: 0.5em;
}

.amac_h {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 15px;
}

.amac_li {
	font-family: 'Open Sans', sans-serif;
	color: black;
    margin-left: -23px;
    font-weight: 100;
    margin-bottom: 1em;
}

.sorular_li {
	font-family: 'Open Sans', sans-serif;
	list-style: circle;
}

.modal_p {
	font-family: 'Open Sans', sans-serif;
	color: black;
	font-size: 15px;
	margin-bottom: 1em;
	font-weight: 100;
}

.modal_h {
	font-family: 'Open Sans', sans-serif;
	color: black;
	font-size: 18px;
	font-weight: bolder;
	margin-bottom: 0.8em;
}

.modal_hSub {
	margin-top: 0.5em;
	font-size: 15px;
	font-weight: bold;
}

#requiredSymbol {
	color: #f82b60;
}

#requiredText {
	font-size: 15px;
	margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: 'Open Sans', sans-serif;
	color: black;
}

#problemler_li li {
	padding-bottom: 0.5em;
}

#linkler_li li {
	padding-bottom: 0.5em;
	list-style: circle;
}


/*______________________mailList______________________  */
#mc_embed_signup {
	text-align: center;
}

#mc_embed_signup .button{
	margin-top: 1em;
}

#mce-EMAIL {
	text-align: center;
	width: 310px;
}

#mailList {
	border: 0.5px solid rgba(0,0,0,0.2);
    border-radius: 0.4em;
    padding: 1em;
}

.mailList_p {
	margin: 1em 2rem 1.2em 2rem;
}
/*______________________Buttons______________________  */

#menuBtn {
	background: rgba(0,0,0,0.85); /*(Previous: DodgerBlue --> #1F898C --> rgba(0,0,0,0.8)) */
	border: none; /* Remove borders */
	color: #E5FAF8;
	padding: 0.4em 0.55em 0.25em 0.55em; 
	font-size: 1em; 
	position: absolute;
	top: 2.5vh;
	left: 1.5vw;
	cursor: pointer; /* Mouse pointer on hover */
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	transition: all 150ms linear;
	border-radius: 2.5px;
	font-family: 'Josefin Sans', sans-serif;

}

/* Darker background on mouse-over */
#menuBtn:hover, #infoBtn:hover, #zoomBalance:hover {
  cursor: pointer;
}

#menuClose {
	position: absolute;
	color: white;
	right: 0.4em;
	top: 0.1em;
	margin-bottom: 0em;
}


#infoBtn {
	position: absolute;
	background: rgba(0,0,0,0.85); /*(Previous: DodgerBlue --> #1F898C --> rgba(0,0,0,0.8)) */
	border: none; /* Remove borders */
	color: #E5FAF8;
	padding: 0.4em 0.55em 0.25em 0.7em; 
	font-size: 1em; /* Set a font size */
	top: 2.5vh;
	right: 1.5vw;
	cursor: pointer; /* Mouse pointer on hover */
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	border-radius: 2.5px;
	font-family: 'Josefin Sans', sans-serif;
}

.menuModalClose {
	font-size: 25px;
	position: absolute;
	right: 0.7em;
	top: 0.5em;
	z-index: 999;
}

#sidebar li:hover {
	cursor: pointer;
}

#zoomBalance {
	position: absolute;
	bottom: 0.8rem;
	right: 0.8rem;
	height: 1.8em;
	width: 1.8em;
	margin: 0;
	padding: 0.3em;
	border: none;
	background: rgba(0,0,0,0.85);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	border-radius: 2.5px;
}

.modalCloseButton {
	color: rgba(0, 0, 0, 0.541327);
	background: transparent;
	text-decoration: underline;
	margin:auto;
  	display:block;
	border: none;
	position: unset;
}

.closeButtonDiv{
	margin-top: 1.5em;
	text-align: center;
}

/*_________________________LANDING________________________*/

#landingLogo {
	position: relative;
	width: 200px;
	display: block;
  	margin: 2em auto 1.8em auto;
}

#landingTitle {
	font-family: 'Josefin Sans', sans-serif;
	color: rgba(0, 0, 0, 0.8);
	padding: 1em;
	font-size: 24px;
	text-align: center;
	margin: 0 1em 0 1em;
	padding: 0;
}

#landingContent {
	font-family: 'Josefin Sans', sans-serif;
	color: rgba(0, 0, 0, 0.8);
	width: 310px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    font-size: 16px;
}

/*_________________________Info Tab________________________*/

#infoLogo {
	position: relative;
	width: 120px;
  	margin-left: auto;
  	margin-right: auto;
  	top: 1em;
    margin-bottom: 2.5em;
}

.infoBullet {
	list-style: none;
	text-indent: -1.6em;
	margin-bottom: 1em;
}

.infoBullet::before {
    content: "⚓️ "; 
}

#infoClose {
	position: absolute;
	top: 0.3em;
	right: 0.5em;
}

#infoArea{
	position: relative;
	text-align: center;
}


.infoLine {
	position: relative;
	font-size: 14px;
	margin: 0.3em 0em;
	display: inline-block;
	padding: 0.3em;
	border: 0.5px solid rgba(0,0,0,0.2);
	border-radius: 0.4em;
}

.infoWaterImg, .infoAcImg{
	margin-left: 0.8em;
}

.infoGraphic {
	vertical-align: middle;
	height: 2em;
	margin: 0.8em 0.5em 0.8em 0.3em;
}

.infoImgDiv {
	margin: 0.5em 0 1em 0;
}

.infoContainer {
	display: grid;
	grid-template-columns: 1fr 2fr 0.5fr 1fr 2fr;
	grid-gap: 5px;
	border: 0.5px solid rgba(0,0,0,0.2);
	border-radius: 0.4em;
	padding: 1.2em;
	margin-bottom: 1em;
}

.infoTitle {
	font-family: 'Open Sans', sans-serif;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4em;
    grid-column-start: 1;
    grid-column-end: 6;
    padding-bottom: 0.3em;
}

.infoText {
	font-family: 'Open Sans', sans-serif;
	position: relative;
	line-height: normal;
	text-align: left;
	grid-column-start: 1;
    grid-column-end: 6;
    padding-bottom: 1em;
}

.infoImg1 {
	height: 2em;
	grid-column-start: 1;
    grid-column-end: 2;
    align-self: center;
    justify-self: center;
}

.infoImg2 {
	height: 2em;
	grid-column-start: 4;
    grid-column-end: 5;
    align-self: center;
    justify-self: center;
}

.infoImg4 {
	height: 2em;
	grid-column-start: 2;
    grid-column-end: 3;
    align-self: center;
    justify-self: end;
    padding-right: 1em;
    margin-top: 1em
}

.infoMiniText1 {
	font-family: 'Open Sans', sans-serif;
	position: relative;
	line-height: normal;
	text-align: left;
	grid-column-start: 2;
    grid-column-end: 3;
    align-self: center;
    font-size: 15px;
}

.infoMiniText2 {
	font-family: 'Open Sans', sans-serif;
	position: relative;
	line-height: normal;
	text-align: left;
	grid-column-start: 5;
    grid-column-end: 6;
    align-self: center;
    font-size: 15px;
}

.infoText3 {
	font-family: 'Open Sans', sans-serif;
	position: relative;
	line-height: normal;
	text-align: left;
	grid-column-start: 2;
    grid-column-end: 6;
    padding-bottom: 1em;
}

.infoMiniText4 {
	font-family: 'Open Sans', sans-serif;
	position: relative;
	line-height: normal;
	text-align: left;
	grid-column-start: 3;
    grid-column-end: 5;
    margin-top: 1em
}

.infoImg3 {
	width: 38px;
	height: 2em;
	grid-column-start: 1;
    grid-column-end: 2;
    align-self: center;
    justify-self: center;
    padding-right: 1em;
}

.infoMiniText3 {
	font-family: 'Open Sans', sans-serif;
	position: relative;
	line-height: normal;
	text-align: left;
	grid-column-start: 2;
	grid-column-end: 6;
}

.extraInfo {
	font-size: 14px;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	margin-top: 1em;
	line-height: 1.3em;
	vertical-align: middle;
	padding: 1.5em;
	border: 0.5px solid rgba(0,0,0,0.2);
	border-radius: 0.4em;
}

.extraInfoForm {
	text-decoration: underline;
}

/*_________________________Sidebar________________________*/

#sidebar{
	position: fixed;
	top: 0;
	width: 200px;
	height: 100vh;
	background: #151719;
	left: -200px;
	transition: all 150ms linear;
}
#sidebar.active{
	left:0px;
}

#sidebar ul li{
	font-family: 'Josefin Sans', sans-serif;
	color: rgba(230,230,230,0.9);
	list-style: none;
	padding: 0.7em 1em;
	border-bottom: 1px solid rgba(100,100,100,0.3);
	font-size: 15px;
}

#menuFirstItem {
	margin-top: 1.5em;
}

@media only screen and (max-width: 415px) {

	.modal-l {
		margin-left: 1em;
		margin-right: 1em;
		}

	#landingContent {
		font-family: 'Josefin Sans', sans-serif;
		color: rgba(0, 0, 0, 0.8);
		width: 250px;
	    font-weight: 300;
	    font-size: 16px;
	}

	.menuModalClose {
		font-size: 25px;
		position: absolute;
		right: 0.5em;
		top: 0.4em;
		z-index: 999;
	}
}

@media only screen and (max-width: 380px) {

	#landingContent {
		font-family: 'Josefin Sans', sans-serif;
		color: rgba(0, 0, 0, 0.8);
		width: 230px;
	    font-weight: 300;
	    font-size: 16px;
	}
}

@media only screen and (max-width: 360px) {

	#landingContent {
		font-family: 'Josefin Sans', sans-serif;
		color: rgba(0, 0, 0, 0.8);
		width: 220px;
	    font-weight: 300;
	    font-size: 16px;
	}
}
